a.bg-link,a.border-link,a.border-link-grey{
    display: inline-block;
    padding: 10px 20px;
    border-radius: var(--brd-rd-xl);
    font-weight: bold;
    transition: all var(--trans-second);
    position: relative;
    top: 0;
    text-wrap: nowrap;
}
a.bg-link{
    color: var(--light-color-fix);
    background-color: var(--pink-color);
    border: 2px solid  var(--pink-color) ;

}
a.border-link-grey{
    color: var(--grey-color);
    background-color: transparent;
    border: 2px solid ;
}
a.border-link{
    color: var(--pink-color);
    background-color: transparent;
    border: 2px solid ;
}
a.border-link:not(:disabled):hover{
    color: var(--darkest-color);
    background-color: var(--pink-color);
    border-color: var(--pink-color)
}
a.bg-link:hover{
    opacity: 0.8;
    top:5px;
}