.nav-bar{
    display: flex;
    justify-content: flex-end;
    /* gap: 5px; */
    z-index: 10000;
    transition: height var(--trans-second);
    align-items: center;
}
.nav-bar li{
    cursor:pointer;
    padding: 6px 12px;
    margin: 0 5px;
}
.nav-bar li a{
    color:var(--grey-color);
    transition: var(--trans-second);
    position: relative;
    top:0;
}.nav-bar li a.active , 
.nav-bar li:hover a{
    color:var(--pink-color);
    font-weight: bold;
}
.nav-bar li:last-child img{
    display: none;
}
@media (min-width:790.01px) {
    .nav-bar li:last-child{
        background-color: var(--dark-color);
        color: var(--grey-color);
        border-radius: 30px;
    }
    .nav-bar li:last-child a{
        color: inherit;
        transition: var(--trans-second);
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nav-bar li:last-child img{
        display: block;
        border-radius: var(--brd-rd-cercul);
    }
    .nav-bar li:last-child:hover,
    .nav-bar li:last-child:has(a.active) {
        background-color: var(--pink-color);
        color: var(--light-color-fix) !important;
    }
}
@media (max-width:790px) {
    .nav-bar{
        border-radius: 0 0 var(--brd-rd-xl) var(--brd-rd-xl);
        box-shadow: -8px 13px 17px 0px var(--dark-shadow), 8px 13px 17px 0px var(--dark-shadow);
        position: absolute;
        background-color: var(--darkest-color);
        flex-direction: column;
        width: 80%;
        top: 77px;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        overflow-x: hidden;
        height: 0;
    }
    .nav-bar.activeMenuBar{
        height: 235px;
    }
    .nav-bar li{
        width: 100%;
        text-align: center;
        font-weight: bold;
        padding: 12px;
        border-bottom: 2px solid #7a666612;
    }
    .nav-bar li:hover a
    {
        top: 5px;        
    }
    .nav-bar li:last-child{
        border-color: transparent !important;
    }
}